name: Release Protobuf API

on:
  workflow_run:
    workflows: ["Test"]
    types: [completed]
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    strategy:
      matrix:
        os: [Linux]
    runs-on: [self-hosted, "${{ matrix.os }}"]
    defaults:
      run:
        shell: bash
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - name: Log masks on Linux
        if: matrix.os == 'Linux'
        run: echo "::add-mask::$NAME_MASK"

      - name: Log masks on Windows
        if: matrix.os == 'Windows'
        run: echo "::add-mask::$env:NAME_MASK"

      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1

      - uses: actions/github-script@v7
        id: parse-version-protobuf
        env:
          SHA: "${{env.parentSHA}}"
        with:
          script: |
            const script = require('./.github/workflows/zig-version.js');
            await script({core},"protobuf-api","./src/api.zig");

      - name: Check Existing Releases
        id: check-version-protobuf
        run: |
          echo "EXISTS=$( \
            if gh release view "${NAME}-${VERSION}" | \
            grep -q "${NAME}-${VERSION}"; \
            then echo "exists"; \
            else echo ""; \
            fi)" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create protobuf release
        if: ${{ steps.check-version-protobuf.outputs.EXISTS == '' }}
        run: |
          zip -r "${NAME}-${VERSION}.zip" -- \
            "./protobuf" "./sabledocs_output"
          gh release create --generate-notes "${NAME}-${VERSION}" \
            "${NAME}-${VERSION}.zip"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
